nav.navbar.navbar-expand-md.bg-dark.navbar-dark
    a.navbar-brand(href='/') Dashboard 
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/country') Home
            li.nav-item
                a.nav-link(href='/dropdown') Dropdown
            li.nav-item
                a.nav-link(href='/dropselect') Drop Select
                //-a.nav-link(href=base_url + 'users/Authorization') Authorization
        //- ul.navbar-nav.ml-auto
        //-     li.nav-item
        //-         a.nav-link(href=base_url+'admin/logout') Logout
